.booklist, .book-details{
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    padding: 3rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-img img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.book-item-info{
    margin-top: 2rem;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.book-item-info-item.publish-year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}

@media screen and (min-width: 600px){
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .book-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img{
        max-width: 120px;
    }
}

/* Search container */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .search-container {
    margin-bottom: 20px; 
  }
  
  /* Search form */
  .search-form {
    display: flex;
    align-items: center;
  }
  /* Search input container */
  .search-input-container {
    position: relative;
    width: 100%;
  }
  
  /* Search input */
  .search-input {
    width: calc(100% - 48px); 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3.8rem;
  }
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid plum;
    margin-right: 5px; 
  }
  .search-input:focus {
    outline: none;
    border-color: purple; 
  }
  /* Search button */
  .search-button {
    
    border: none;
    background-color: transparent;
    cursor: pointer;
  }



.search-input-container {
    position: relative;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color:purple; 
    cursor: pointer;
  }
  